.react-contentful-rich-text {
    & [data-type="paragraph"] {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & [data-type="text"] {
        white-space: pre;
    }

    & [data-type="code"],
    & [data-type="multi-code"] {
        display: inline-block;
        box-sizing: border-box;
        background-color: #f6f6f6;
        border: 1px solid #dadada;
        border-radius: 2px;
        color: #e01e5a;
        white-space: pre;
    }

    & [data-type="multi-code"] {
        padding: 15px;
    }

    & [data-type="code"] {
        padding: 0 4px;
    }

    & [data-type="video"] {
        display: block;
    }
}
